
@{
    ViewBag.Title = "MesajGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<CvProject.Models.Entity.iletisim>
<h2>MesajGetir</h2>


@foreach (var x in Model)
{
    <span>gönderen: </span> @x.kimden
    <br />

    <span>konu: </span> @x.konu<br />
    <span>mail: </span> @x.mail<br />
    <span>tarih: </span> @x.tarih<br />
    <br />
    <span>mesaj : </span> @x.mesaj
    <br />
    <a href="/Admin/MesajSil/@x.id">sil </a>

    <hr />


}